
body {
    margin: 0;
    padding: 0;
    background-image: url("img/auto_rickshaw_02.gif");
    background-size: cover;
    background-position: center;
} 
img{
    position: absolute;
    top: 325px;
    left: 500px;
}
h1{
    font-family:Snap ITC;
    color: #ffe033;
    font-size:50;
    position: absolute;
    left: 350px;
}
h2{
    font-family:Snap ITC;
    color: #ffec80;
    font-size:35;
    position: absolute;
    top:100px;
    left: 500px;
}
h3{
    font-family:Snap ITC;
    color: #ffec80;
    font-size:20;
    position: absolute;
    top:250px;
    left: 100px;
}
h4{
    font-family:Snap ITC;
    color: #ffe033;
    font-size:20;
    position: absolute;
    top:250px;
    left: 950px;
}
button1 
{
    position: absolute;
    border:none;
    outline: none;
    height: 40px;
    background: #000;
    color:yellow;
    font-size: 20px;
    border-radius: 25px;
    top:320px;
    left: 1020px;
}
button2 
{
    position: absolute;
    border:none;
    outline: none;
    height: 40px;
    background: #000;
    color:yellow;
    font-size: 20px;
    border-radius: 25px;
    top:320;
    left: 120px;
}